.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details th, .details td {
    text-align: left;
}
.details td:not(:last-child) {
    padding-right: 5vw;
} 

.details button {
    margin-top: 5vh;
}