.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
}

.title {
    grid-column: 1 / -1; /* This spans the first row */
    display: flex;
    align-items: center;
    text-align: left;

    background-color: #333;
    color: white;

    padding: 20px;
    padding-left: 2vw;
}

.title h1 {
    flex: 1;
}

.loginBtn {
    width: 5vw;
    height: 3rem;
    margin-right: 2vw;
    
    border: 2px solid whitesmoke;
    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBtn:hover {
    border: 2px solid white;
    border-radius: 1rem;
    background-color: black;
}

.filterOption {
    grid-row: 2; /* This places the box in the second row */
    grid-column: 1; /* This places the box in the first column */
}

.schedule {
    grid-row: 2 / 4; /* This places the box in the second row */
    grid-column: 2; /* This places the box in the first column */
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    grid-row: 3; /* This places the box in the second row */
    grid-column: 1; /* This places the box in the first column */
}

.router {
    grid-row: 2 / 4; /* This places the box in the second row */
    grid-column: 2; /* This places the box in the first column */
    background-color: white;

    display: flex;
    flex-direction: column;
}
.exit {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1vw;
    margin-right: 1vw;
}
.exit svg {
    height: 1.5rem;
    width: 1.5rem;
}